/*==========================================================*/
/*------------------ << Menú Balance >> --------------------*/

/*==========================================================*/
.reporte {
	@include flex-dir-al-jus(x, column, center, center);
	@include caja(var(--colTer), 90%, auto);
	max-width: var(--maxAncho);
	&.ocultar {
		display: none;
	}

	&__cont {
		font-size: 0.8rem;
		@include flex-dir-al-jus(flex, column, center, center);
	}
	&__tit-img {
		width: 100%;
		@include flex-dir-al-jus(flex, row, center, x);
	}
	&__tit {
		@extend .lora-i-n; //fonts.scss
		font-size: 1.8rem;
		width: 85%;
		padding-left: 10px;
	}
	&__img-pequenia {
		width: 10%;
		margin-bottom: 5px;
	}

	//sin reportes
	&__cont-sin-rep {
		@include flex-dir-al-jus(flex, column, center, center);
		height: 400px;
		&.ocultar {
			display: none;
		}
	}
	&__img {
		margin: 15px;
		width: 50%;
		margin-bottom: 20px;
	}
	&__texto-sin-rep {
		color: var(--colRojo);
		text-align: center;
		@extend .lora-i-n; //fonts.scss
      font-size: 1rem;
	}

	//--------------------------------------------
	//$md: "768px" ver en varibales.scss;
	@media (min-width: #{$md}px) {
		@include caja(var(--colTer), 70%, auto);

		&__cont {
			font-size: 1rem;
		}
      &__texto-sin-rep {
         font-size: 1.2rem;
      }
	}
}
