/*==========================================================*/
/*------------------ << Menú Balance >> --------------------*/

/*==========================================================*/
.reporte {
	@include flex-dir-al-jus(x, column, center, center);
	@include caja(var(--colTer), 90%, auto);
	max-width: var(--maxAncho);
	&.ocultar {
		display: none;
	}

	&__cont {
		font-size: 0.8rem;
		@include flex-dir-al-jus(flex, column, center, center);
	}
	&__tit-img {
		width: 100%;
		@include flex-dir-al-jus(flex, row, center, x);
	}
	&__tit {
		@extend .lora-i-n; //fonts.scss
		font-size: 1.8rem;
		width: 85%;
		padding-left: 10px;
	}
	&__img-pequenia {
		width: 10%;
		margin-bottom: 5px;
	}

	//sin reportes
	&__cont-sin-rep {
		@include flex-dir-al-jus(flex, column, center, center);
		height: 400px;
		&.ocultar {
			display: none;
		}
	}
	&__img {
		margin: 15px;
		width: 50%;
		margin-bottom: 20px;
	}
	&__texto-sin-rep {
		color: var(--colRojo);
		text-align: center;
		@extend .lora-i-n; //fonts.scss
		font-size: 1rem;
	}

	// CON reportes
	&__cont-con-rep {
		@include flex-dir-al-jus(flex, column, x, x);
		&.ocultar {
			display: none;
		}
	}

	&__resumen-cont {
		width: 100%;
		@include flex-dir-al-jus(flex, column, x, x);
		border: 5px solid var(--colSec);
	}

	&__tit-seccion {
		@extend .montserrat-n-n; //fonts.scss
		margin: 5px;
	}
	&__resumen-may-gan {
		@include flex-dir-al-jus(flex, column, x, x);
		width: 96%;
		margin: 3px;
	}

	&__resumen-nombre {
		width: 100%;
	}
	&__resumen-cont-val {
		@include flex-dir-al-jus(flex, row, x, x);
		width: 100%;
	}
   &__resumen-cont-1{
      width: 50%;
      //text balance
      @include flex-dir-al-jus(flex, x, x, center);
      text-align: center;
   }


	//--------------------------------------------
	//$md: "768px" ver en varibales.scss;
	@media (min-width: #{$md}px) {
		@include caja(var(--colTer), 70%, auto);

		&__cont {
			font-size: 1rem;
		}
		&__texto-sin-rep {
			font-size: 1.2rem;
		}

		//con reportes
		&__resumen-may-gan {
			@include flex-dir-al-jus(flex, row, x, x);
			width: 92%;
		}
		&__resumen-nombre {
			width: 40%;
		}
		&__resumen-cont-val {
			width: 59%;
		}
	}
}
